.screen {
  margin: 15px;
  background: #88878C;
  border: 1px solid darken(#88878C, 10%);
  border-radius: 10px 10px 40px 10px;
  padding: 15px;
  text-align: center;

  .screen__content {

    height: 250px;
    width: 250px;
    padding: 25px;
    margin: 0 auto;
    overflow-y: scroll;
    background: linear-gradient(to bottom right, darken(#899C6C, 20%), #899C6C);
    border: 1px solid darken(#899C6C, 10%);
    text-align: left;
    color: darken(whitesmoke, 10%);
    font-size: 16pt;
  }

  .screen_buttons {
    max-width: 100%;
    padding-top: 10px;
  }
}
