<div class="footer">
  <img #controls class="controls" src="assets/img/controls-new.png" usemap="#image-map" (load)="imageLoaded()">
  <map name="image-map">
    <area (click)="buttonClicked('left')" [coords]="leftCoords" shape="rect">
    <area (click)="buttonClicked('right')" [coords]="rightCoords" shape="rect">
    <area (click)="buttonClicked('top')" [coords]="topCoords" shape="rect">
    <area (click)="buttonClicked('bottom')" [coords]="bottomCoords" shape="rect">
    <area (click)="buttonClicked('b')" [coords]="bCoords" shape="circle">
    <area (click)="buttonClicked('r')" [coords]="rCoords" shape="circle">
    <area (click)="buttonClicked('start')" [coords]="startCoords" shape="poly">
    <area (click)="buttonClicked('complete')" [coords]="completeCoords" shape="poly">
  </map>
</div>
