*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'VT323', monospace;
  color: #545e6f;
  display: flex;
  background: #c3c1c2;
}

a {
  text-decoration: none;
  outline: 0;
}

.wrapper {
  max-width: 500px;
  margin: 0 auto;
}

button {
  cursor: pointer;
  outline: 0;
  width: 100%;
  border-radius: 2px;
  border: 1px solid black;
  background: gray;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.2s ease-in-out;

  &:hover {
    background: darken(gray, 5%);
  }

  &:disabled {
    opacity: .4;
    cursor: not-allowed;
  }
}

p {
  margin: 0;
}
