*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'VT323', monospace;
  color: #545e6f;
  display: flex;
  background: #c3c1c2;
}

a {
  text-decoration: none;
  outline: 0;
}

.wrapper {
  max-width: 500px;
  margin: 0 auto;
}

p {
  margin-top: 0;
}

input {
  font-family: 'VT323', monospace;
}
