:host ::ng-deep {
  .error {
    color: #a94442;
    background: #f2dede;
    border: 1px solid #e4b3b3;
    border-radius: 2px;
    padding: 8px;
    font-size: 14px;
    font-weight: 400;
    margin: 10px 0 0;
  }

  a {
    display: block;
    text-align: center;
    color: #5e7386;
    font-size: 14px;
  }
}

.auth-form {

  &__action {
    margin: 10px 0;
  }

  label {
    display: block;
    margin: 0;
  }

  input {
    outline: 0;
    font-size: 16px;
    padding: 10px 15px;
    margin: 0;
    width: 100%;
    background: #fafcfd;
    color: #5777a8;
    border: 1px solid #d1deeb;
    text-align: center;

    &::-webkit-input-placeholder {
      color: #5777a8;
    }

    &[type=email] {
      border-radius: 3px 3px 0 0;
    }

    &[type=password] {
      border-radius: 0 0 3px 3px;
      margin: -1px 0 0;
    }
  }
}
